
body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #90F3F9;
    max-height: 150px;     
}

.quem-somos{
    background-color: #8E89FB;
    color:white;
    max-height: 595px;
}

.margin{    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #A0F9A8;
}

.bg-footer{
    background-color: black;
    color: white;
    max-height: 10px;
}

.serviços{
    background-color: #8E89FB;
}